*{
    margin: 0;
    box-sizing: border-box;
}
nav {
    background-color: #8987;
    width: 100%;
    height: 150px;
}

.top-nav {
    width: 60%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
	display:flex;
}

.search_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:20px;
    text-align: center;
}

.search_btn {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 6px;
}

.top-nav-left {
    margin-left: 50px;
    color: white;
}

.top-nav-right > ul > li{
    color: white;
}

.top-nav-right > ul > li > a{
    color: white;
}

.bot {
    width: 60%;
    height: 80px;
    margin: auto;
}

.bot-nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w150 {
    width: 150px;
    font-weight:600;
    font-size:18px;
    text-align: center;
    color: white;
}

.bot:hover ~ .hide-nav{
    display:flex;
}

.hide-nav:hover {
    display: flex;
}

.hide-nav {
    position: relative;
    height: 270px;
    display: none;
    justify-content: space-around;
    z-index: 5;
    background-color: rgba(150, 150, 150, 0.9);
}

.hide_nav_width {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.around {
    width: 150px;
}

.pt20 {
    height: 30px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 550;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #999;
}

nav {
    background-color: #8987;
    width: 100%;
    height: 150px;
}

.top-nav {
    width: 60%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
	display:flex;
}

.search_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:50px;
    text-align: center;
}

.search_btn {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 6px;
}

.top-nav-left {
    margin-left: 50px;
    color: white;
}

.top-nav-right > ul > li{
    color: white;
}

.top-nav-right > ul > li > a{
    color: white;
}

.bot {
    width: 60%;
    height: 80px;
    margin: auto;
}

.bot-nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w150 {
    width: 150px;
    font-weight:600;
    font-size:18px;
    text-align: center;
    color: white;
}

.bot:hover ~ .hide-nav{
    display:flex;
}

.hide-nav:hover {
    display: flex;
}

.hide-nav {
    position: relative;
    height: 270px;
    display: none;
    justify-content: space-around;
    z-index: 5;
    background-color: rgba(150, 150, 150, 0.9);
}

.hide_nav_width {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.around {
    width: 150px;
}

.pt20 {
    height: 30px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 550;
}

.wrapper{
    width:1000px;
    margin: 0 auto;
}
.banner{
    width: 100%;
    height:500px;
    background: #8987;
    display: flex;
}
.left{
    width: 700px;
    height: 100%;
}
.left .top{
    width: 100%;
    height: 30%;
    background: #6767;
    display:flex;
    justify-content: space-around;
}
.left .top > div{
    height: 100%;
    line-height: 100px;
}
.boardtitle h1{
    line-height: 150px;
}
.about{
   position:relative;
}
.about button{
    position:absolute;
    right:-40px;
    top:0;
    background:none;
    border:none;
    cursor:pointer;
    font-size:30px;
}
.about p{
    line-height: 150px;
}
.left .bottom{
    width: 100%;
    height: 70%;
    padding: 20px;
}
.bottom h3{
    padding-left: 50px;
}
.bottom li{
    margin-top: 6px
}
.right{
    margin-left: 20px;
    width: 270px;
    height: 30%;
    display: flex;
    flex-direction: column;
}
.login{
    padding: 20px;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
.ad{
    padding: 20px;
}
.ad ul{
    padding:0;
    text-align:center;
}
.ad ul li{
padding: 5px 0;
 }
.ad h3{
    text-align:center;
    padding-bottom:20px;
}

.login #signin{
    margin: 10px 0;
    width: 100%;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #8B9A80;
    cursor:pointer;
}
.login ul{
    padding: 0;
    text-align: center;
}
.login a{
    color: #888;
}
.section{
    width: 100%;
    height: 950px;
    background: #3456;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.board{
    width: 450px;
    height: 160px;
    border-radius: 10px;
    margin: 0 10px;
    background: #fff;
    font-size: 15px;
    padding: 10px;
    display: flex;
    cursor: pointer;
}
.letter{
     width: 70%;
     position: relative;
 }
 .image{
     width: 30%;
     height: 100%;
 }
 .image img{
     border-radius: 15px;
 }
 .letter .title{
        width:280px;
        white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 5px;
 }

 .content{
    width:280px;
    height:40px;
     margin-bottom: 30px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 .writer{
     font-size: 13px;
     margin-bottom: 12px;
 }
.writer span{
    font-size:11px;
    margin-left:20px;
}
 .letter ul{
     position: absolute;
     bottom: 5px;
     left: 0;
     padding: 0;
     display: flex;
     font-size: 13px;
 }
 .letter li{
     margin-right: 15px;
 }
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
}
.page{
    padding: 0;
    display: flex;

}
.page li{
    margin: 0 5px;
}
.page li a {
    color: #000;
}