* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

ul {
  list-style: none;
}

a{
    text-decoration:none;
    color:black;
}

a:hover {
    text-decoration:underline;
}

table {
    border: 1px #a39485 solid;
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
}

.first_td {
    width:20%;
    text-align:center;
    border-right:1px solid black;
}

.second_td {
    width:80%;
    text-align:left;
    margin-left : 20px;
}

td {
    border: 1px #a39485 solid;
    padding: 10px;
}

h3 {
    margin-bottom:20px;
    color: #9C3646;
}

.btn_another_width {
    width: 100%;
}

.btn_another {
    display:inline-block;
    width:100%;
    font-size:20px;
}

#Prev_btn , #Next_btn {
    display:flex;
    justify-content:space-between;
    margin-top : 10px;
}

#Prev_btn , #Next_btn:hover{
    cursor:pointer;
}

nav {
    background-color: #EDEDED;
    width: 100%;
    height: 150px;
}

.top-nav {
    width: 60%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
	display:flex;
}

.search_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    text-align: center;
}

.search_btn {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 6px;
}

.top-nav-left {
    color: white;
}

.top-nav-right > ul > li{
    color: white;
}

.top-nav-right > ul > li > a{
    color: white;
}

.bot {
    width: 60%;
    height: 80px;
    margin: auto;
}

.bot-nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w150 {
    width: 150px;
    font-weight:600;
    font-size:18px;
    text-align: center;
    color: #9C3646;
}

.bot:hover ~ .hide-nav{
    display:flex;
}

.hide-nav:hover {
    display: flex;
}

.hide-nav {
    position: relative;
    height: 270px;
    display: none;
    justify-content: space-around;
    z-index: 5;
    background-color: rgba(150, 150, 150, 0.9);
}

.hide_nav_width {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.around {
    width: 150px;
}

.pt20 {
    height: 30px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 550;
}

button:hover {
    cursor: pointer;
}

.bodyContainer {
    width: 1000px;
    margin: 50px auto;
    border:3px solid gray;
    box-shadow : 3px 3px 3px 3px;
    border-radius:10px;
    display: flex;
}

.content {
    width: 75%;
    margin: 10px;
    border-radius:10px;
}

.content_title {
    height: 150px;
    border:2px solid gray;
    border-radius:5px;
    box-shadow : 3px 3px 3px;
    padding: 10px;
}

.main_title {
    width: 95%;
    margin: 20px auto;
    background-color: antiquewhite;
    padding: 5px 10px;
    line-height: 1;
}

#title_font {
    font-size:18px;
    font-weight:500;
}

.title_detail {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.Write_info {
    display: flex;
    width: 500px;
    font-size:14px;
}

.Board_info {
    display: flex;
    width: 350px;
    justify-content: flex-end;
    font-size:12px;
}

.ml20 {
    margin-left: 20px;
}

.content_body {
    border:2px solid gray;
    border-radius:5px;
    box-shadow : 3px 3px 3px;
    margin: 30px 0;
    padding: 10px;
}

.content_container {
    margin-top: 20px;
}

.main_text {
    width: 95%;
    height: 300px;
    margin: auto;
    background-color: antiquewhite;
    word-wrap: break-word;
    padding: 0 10px;
}

.Liky_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Liky_btn > button {
    width: 70px;
    height: 40px;
}

.input_comment {
    height: 170px;
    padding: 10px;
    margin-top:20px;
    border:2px solid gray;
    border-radius:5px;
    box-shadow :3px 3px 3px;
}

#write_btn {
    float:right;
}

.comment_list {
    margin-top:30px;
    border:1px solid black;
}

#liked_btn:hover{
    cursor:pointer;
}

.list_container {
    padding: 10px;
    border-radius:5px;
    box-shadow : 3px 3px 3px;
}

.like-count {
    text-align:center;
}

.tr_width {
    width:100%;
}

.first_width {
    width:30%;
}

.second_width{
    width:70%;
}

.container_text {
    margin-top:15px;
    display: flex;
    justify-content: space-between;
}

.comment_Writer {
    width: 20%;
}

.comment_main_text {
    width: 55%;
}

.comment_Date{
    display:flex;
    width: 25%;
    justify-content: space-between;
}

.comment_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recomment > button {
    margin-right:8px;
}

.input_recomment {
    display:none;
}

.input_recomment > input {
    width:75%;
    padding: 10px;
}

.input_recomment > button {
    width:20%;
    padding:10px;
}

.comment_text {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

.comment_btn > button {
    height: 30px;
}

#comment_login {
    display:flex;
    align-items:center;
    justify-content:center;
}

.more_btn {
    height: 90px;
}

.more_btn > button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.Arrow_btn {
    justify-content: space-around;
    align-items: center;
    border:2px solid gray;
    border-radius:5px;
    box-shadow : 3px 3px 3px;
    padding:10px;
}

.seq > a {
    display: inline-block;
    align-items: center;
    margin: 10px 20px;
}

.seq_reight {
    text-align: right;
    margin: 10px 20px;
}

.side_bar {
    width: 23%;
}

.login {
    height: 150px;
    border:1px solid black;
    margin: 10px;
    border:2px solid gray;
    border-radius:5px;
    box-shadow : 3px 3px 3px;
}

.Before_login {
    width:90%;
    margin:auto;
    text-align:center;
}

.Before_login > ul > li {
    margin-top:8px;
}

.After_login {
    padding-left: 3px;
}

.After_login > p, .After_login > ul > li {
    margin-top: 7px;
}

#signin {
    width:90%;
    height:40px;
    margin: 10px auto;
    text-align:center;
    background: #9c3646;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.after_login > ul > li {
    margin-top:8px;
}

#output_name {
    display:flex;
    justify-content:space-between;
    margin-top:5px;
}

#mypage_btn {
    margin-right:5px;
}

.hot_board {
    margin: 30px 10px;
    border:2px solid gray;
    border-radius:5px;
    box-shadow : 3px 3px 3px;
}

.text_width {
    width: 90%;
    margin: 10px auto;
}

.text_width > ul > li {
    margin-top:5px;
}

.text {
    width: 100%;
    margin-top:10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}

.text > a {
    text-decoration: none;
    color:black;
}

.text > a:hover {
    text-decoration: underline;
    font-weight: 600;
}