#container{
    width:100%;
    height: 900px;
    position: relative;
}

.set{
    width: 300px;
    height: 300px;
    background-color:#ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}
#set0{
    width: 300px;
    height: 40px;
    background-color: #ffffff;
}

#set2{
    width: 300px;
    height: 40px;
    background-color: #ffffff;
}

#set3{
    margin: 10px 0 0 0;
}

#set4{
    width: 300px;
    height: 40px;
    background-color: #ffffff;
}

#set5{
    width: 300px;
    height: 40px;
    background-color: #ffffff;
    margin: 10px 0 0 0;
}

#loginId{
    width: 292px;
    height: 30px;
}

#loginPw{
    width: 292px;
    height: 30px;
}

#loginButton{
    width: 300px;
    height: 37px;
    border: none;
    background-color:#9A3344;
    color: #ffffff;
}

#setimg{
    margin: -60px 0 0 0;
    width: 150px;
    height: 160px;
}