*{
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #999;
}

nav {
    background-color: #EDEDED;
    width: 100%;
    height: 150px;
}

.top-nav {
    width: 1000px;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
	display:flex;
}

.search_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    text-align: center;
}

.search_btn {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 6px;
}

.top-nav-left {
    color: white;
}

.top-nav-right > ul > li{
    color: white;
}

.top-nav-right > ul > li > a{
    color: white;
}

.bot {
    width: 60%;
    height: 80px;
    margin: auto;
}

.bot-nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w150 {
    width: 150px;
    font-weight:600;
    font-size:18px;
    text-align: center;
    color: #9C3646;
}

.bot:hover ~ .hide-nav{
    display:flex;
}

.hide-nav:hover {
    display: flex;
}

.hide-nav {
    position: relative;
    height: 270px;
    display: none;
    justify-content: space-around;
    z-index: 5;
    background-color: rgba(150, 150, 150, 0.9);
}

.hide_nav_width {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.around {
    width: 150px;
}

.pt20 {
    height: 30px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 550;
}

.main{
    margin-top:30px;
}

button{
    cursor: pointer;
    border-radius: 15px;
}
.wrapper{
    width:800px;
    margin: 0 auto;
}
.top button{
    color:#fff;
    font-weight:bold;
    width: 150px;
    height: 40px;
    border: 1px solid #999;
    background: none;
}
.top button:first-child{
    background: #C88EA7;
}
.top button:last-child{
    background: #9c3646;
}
.top button:nth-child(2){
    background: #99627A;
}
.container{
    width: 100%;
    height: 800px;
    background: #F9F5F6;
    text-align: center;
    padding: 20px;
}
.container h5{
    margin-top: 5px;
}
.container input{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    font-size: 18px;
    border-radius: 15px;
    border: none;
}
.container button{
    width: 50%;
    height: 50px;
    border: none;
    background: #9c3646;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}