*{
    margin: 0;
    box-sizing: border-box;
}
nav {
    background-color: #EDEDED;
    width: 100%;
    height: 150px;
}

.top-nav {
    width: 60%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
	display:flex;
}

.search_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:50px;
    text-align: center;
}

.search_btn {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 6px;
}

.top-nav-left {
    margin-left: 50px;
    color: white;
}

.top-nav-right > ul > li{
    color: white;
}

.top-nav-right > ul > li > a{
    color: white;
}

.bot {
    width: 60%;
    height: 80px;
    margin: auto;
}

.bot-nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w150 {
    width: 150px;
    font-weight:600;
    font-size:18px;
    text-align: center;
    color: #9C3646;
}

.bot:hover ~ .hide-nav{
    display:flex;
}

.hide-nav:hover {
    display: flex;
}

.hide-nav {
    position: relative;
    height: 270px;
    display: none;
    justify-content: space-around;
    z-index: 5;
    background-color: rgba(150, 150, 150, 0.9);
}

.hide_nav_width {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.around {
    width: 150px;
}

.pt20 {
    height: 30px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 550;
}

body{
    background-color: #f5f6f7;
}
.lo{
    padding-top: 30px;
    padding-bottom: 20px;
}
.logo{
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 240px auto;
    color: transparent;
    font-size: 0;

}
.hidden{
    width: 1px;height: 1px;overflow: hidden; margin: -1px; position: absolute;
}
.wrap_b{
    width: 460px;
    margin: 0 auto;
}
.error{
    color:red;
    font-size:13px;
}
input{
    width: 100%;
    border: 1px solid #dadada;
    height: 51px;
    margin: 10px 0px;
}
button{
    cursor: pointer;
}
input:focus,select:focus{
    outline: none;
    border: 1px solid #9c3646;
}
#id::-webkit-input-placeholder{
    text-align: right;
    padding-right: 10px;
}

.sign{
    margin-top: 20px;
    width: 100%;
    color: #fff;
    background: #9c3646;
    font-weight: bold;
    height: 51px;
    border: none;
    font-size: 20px;
}

footer{
    margin-top: 20px;
}
footer ul{
    list-style: none;
}
footer li{
    font-size: 12px;
    float: left;
    margin-right: 10px;
}
.m_logo{
    padding-left: 50px;
    color: #03c75a;
    font-weight: bold;
}
footer li a span{
    color: #000;
    font-weight: bold;
}
footer li a{
    color: #000;
    text-decoration: none;
}
